[Unit]
Description=piv-agent socket activation

[Socket]
ListenStream=%t/piv-agent/ssh.socket
ListenStream=%t/piv-agent/age.socket

[Install]
WantedBy=sockets.target
