[Unit]
Description=piv-agent service

[Service]
ExecStart=piv-agent serve --agent-types=ssh=0;age=1
LoadCredentialEncrypted=seeds:%h/.config/credstore/seeds
