[Unit]
Description=piv-agent socket activation

[Socket]
ListenStream=%t/piv-agent/ssh.socket
ListenStream=%t/gnupg/S.gpg-agent

[Install]
WantedBy=sockets.target
