name: Lint
on: pull_request
jobs:
  golangci-lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Install Dependencies
      run: sudo apt-get update && sudo apt-get -u install libpcsclite-dev
    - name: Install Go
      uses: actions/setup-go@v3
      with:
        go-version: "^1.18"
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v3
      with:
        version: latest
  commitlint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Lint commit messages
      uses: wagoid/commitlint-github-action@v5.3.1
