name: Tag and release on merge
on:
  push:
    branches:
    - main
jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Configure Git
      run: |
        git config --global user.name "$GITHUB_ACTOR"
        git config --global user.email "$GITHUB_ACTOR@users.noreply.github.com"
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: "^1.15"
    - name: Install ccv
      working-directory: /
      run: GO111MODULE=on go get github.com/smlx/ccv
    - name: Bump tag if necessary
      id: tag
      run: |
        if [ -z $(git tag -l $(ccv)) ]; then
          git tag $(ccv)
          git push --tags
          echo "::set-output name=new::true"
        fi
  release:
    needs: tag
    if: needs.tag.outputs.new == 'true'
    strategy:
      # avoid concurrent goreleaser runs
      max-parallel: 1
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: "^1.15"
    - name: Install Dependencies
      if: matrix.os == 'ubuntu-latest'
      run: sudo apt-get update && sudo apt-get -u install libpcsclite-dev
    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@v2
      with:
        version: latest
        args: release --rm-dist --config .goreleaser.${{ matrix.os }}.yml
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
