name: Tag and Release
on:
  push:
    branches:
    - main
jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Configure Git
      run: |
        git config --global user.name "$GITHUB_ACTOR"
        git config --global user.email "$GITHUB_ACTOR@users.noreply.github.com"
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: "^1.15"
    - name: Install ccv
      run: go get github.com/smlx/ccv
    - name: Bump tag if necessary
      id: tag
      run: |
        if [ -z $(git tag -l $(ccv)) ]; then
          git tag $(ccv)
          git push --tags
          echo "::set-output name=new::true"
        fi
    - name: Run GoReleaser
      if: steps.tag.outputs.new == 'true'
      uses: goreleaser/goreleaser-action@v2
      with:
        version: latest
        args: release --rm-dist
        workdir: ./cmd/piv-agent
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
